fastapi==0.112.2
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.34
psycopg2-binary==2.9.9
alembic==1.13.2
pydantic==2.8.2
pydantic-settings==2.4.0
python-dotenv==1.0.1
python-jose==3.3.0
passlib[bcrypt]==1.7.4
twilio==9.3.4
